@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #194f2b;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
  .main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .calculator {
    position: relative;
    width: fit-content;
    height: fit-content;
  }
 /* .row{
  margin: 0px;
 } */
 .button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: black;
  color: white;
 }
 .button-mid{
  margin-left: 1px;
  margin-right: 1px;
}
.button-left {
  margin-left: 12px;
}
.button-top {
  margin-top: 12px;
}
.button-top {
  margin-top: 12px;
}
.button-right {
  margin-right: 12px;
}
.button-buttom {
  margin-bottom: 12px;
}
.screen {
  display: flex;
  align-items: center;
  height: 40px;
  justify-content: center;
  background-color: mintcream;
  color: black;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.display {
  display: flex;
  position: relative;
  width: auto;
  justify-content: center;
  margin-left: 25%;
  margin-right: 25%;
  background-color: mintcream;
  color: black;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}